/***********************************************************************************
*Colors
*************************************************************************************/

.page-bg {
  background: rgb(5, 42, 84);
  background: linear-gradient(
    135deg,
    rgba(5, 42, 84, 1) 0%,
    rgba(41, 86, 135, 1) 27%,
    rgba(159, 75, 190, 1) 100%
  );
  min-height: 900px;
  padding: 40px 0px;
}
